<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
    <connectionStrings>
        <add connectionString="Server=WIN-MTQECKB0904;Database=db.appointment;Integrated Security=true" name="website" />
    </connectionStrings>
</configuration>
